@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Jost:wght@300&family=Tajawal&display=swap');

html {
  transition: 0.5s;
    overflow: hidden;
   

  }



body {
  background-color:#d5c6b3;
  min-height: 100vh;
  transition: 0.5s;
  margin: 0;
  padding: 0;
  overflow-x:scroll ;

  font-family: 'Josefin Sans', sans-serif;

}